:host {
  margin: 14% auto 0;
  width: fit-content;
  display: block;
  position: relative;

  .paperIcon {
    position: absolute;
    left: -16px;
    top: -24px;
  }

  .scissorsIcon {
    position: absolute;
    right: -10px;
    top: -20px;
  }

  .rockIcon {
    position: absolute;
    bottom: 0;
    right: 136px;
  }
}
