@font-face {
  font-family: "Barlow-bold";
  src: url("assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-regular";
  src: url("assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
